<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dangdang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dangdang.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Type</display-name>
    <servlet-name>Type</servlet-name>
    <servlet-class>com.dangdang.servlet.Type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Type</servlet-name>
    <url-pattern>/Type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.dangdang.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTypeMySQL</display-name>
    <servlet-name>NewTypeMySQL</servlet-name>
    <servlet-class>com.dangdang.servlet.NewTypeMySQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTypeMySQL</servlet-name>
    <url-pattern>/NewTypeMySQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.dangdang.servlet.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.dangdang.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalidate</display-name>
    <servlet-name>Invalidate</servlet-name>
    <servlet-class>com.dangdang.servlet.Invalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidate</servlet-name>
    <url-pattern>/Invalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.dangdang.servlet.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find</display-name>
    <servlet-name>Find</servlet-name>
    <servlet-class>com.dangdang.servlet.Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
</web-app>